.home-spacer {
  border-top: 1px solid rgb(235, 238, 240);
  border-bottom: 1px solid rgb(235, 238, 240);
  width: 560px;
  height: 9px;
  background-color: rgb(247, 249, 250);
}

.home-container {
  position: relative;
  z-index: 2;
  margin-top: 50px;
  /* border-left: 1px solid rgb(235, 238, 240); */
  /* border-right: 1px solid rgb(235, 238, 240); */
}
