.home-spacer {
  border-top: 1px solid rgb(235, 238, 240);
  border-bottom: 1px solid rgb(235, 238, 240);
  width: 100%;
  height: 8px;
  background-color: rgb(247, 249, 250);
}

.home-container {
  position: relative;
}
