.edit-profile-button {
  width: 95px;
  height: 36px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 20px;
  color: rgb(29, 161, 242);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
  outline: none;
  margin: 0 15px 15px 0;
}

.edit-profile-button:hover {
  background-color: rgb(232, 245, 254);
  transition-property: background-color;
  transition-duration: 0.2s;
}
