.profile-nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.profile-nav-option {
  text-decoration: none;
  color: rgb(91, 136, 152);
  font-size: 14px;
  line-height: 50px;
  width: 25%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.profile-active {
  color: rgb(29, 161, 242);
  border-bottom: 2px solid rgb(29, 161, 242);
}

.profile-nav-option:hover {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  color: rgb(29, 161, 242);
  background-color: rgb(232, 245, 254);
}
