.gif-search-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  height: 600px;
  transform: translate(-50%, -20%);
  background-color: white;
  padding: 10px 0px 0px 0px;
  z-index: 99;
  border-radius: 20px;
}

.gif-search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.gif-search-close {
  border: none;
  font-size: 25px;
  position: fixed;
  left: 8px;
  color: rgb(29, 161, 242);
  background-color: white;
  cursor: pointer;
  z-index: 99;
}
