.post-card-container {
  border-bottom: 1px solid rgb(235, 238, 240);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.post-card {
  font-size: 14px;
  display: flex;
  padding-top: 10px;
  padding-left: 14px;
}

.post-mention:hover {
  text-decoration: underline;
}

.post-card-container:hover {
  background-color: rgb(247, 247, 247);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.post-card-editor {
  box-sizing: border-box;
  cursor: pointer;
  padding: 4px 10px 10px 0px;
  margin-bottom: 2px;
  background-color: inherit;
  position: relative;
  width: 486px;
}

.feed-profile-pic {
  border: 1px solid rgb(235, 238, 240);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  filter: brightness(100%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.feed-profile-pic:hover {
  filter: brightness(85%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.post-content {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.post-user-links {
  font-size: 14px;
  text-decoration: none;
}

.feed-display-name {
  color: black;
  font-weight: 600;
}
.feed-display-name:hover {
  text-decoration: underline;
}

.feed-username {
  color: rgb(91, 112, 131);
  font-weight: 350;
  margin-left: 5px;
}

.feed-timestamp {
  color: rgb(91, 112, 131);
  font-weight: 350;
}

.feed-timestamp-spacer {
  color: rgb(91, 112, 131);
  font-weight: 350;
  padding: 0px 4px;
}

.feed-timestamp:hover {
  text-decoration: underline;
}

.post-interactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(91, 112, 131);
  font-weight: 250;
  font-size: 14px;
  margin-right: 40px;
  margin-bottom: 6px;
  margin-left: 2px;
}

.number-comments,
.number-stars {
  padding: 8px 8px 8px 0px;
}

.comment-button:hover {
  color: rgb(29, 161, 242);
  transition-property: color;
  transition-duration: 0.2s;
}

.comment-button {
  display: flex;
  transition-property: color;
  transition-duration: 0.2s;
}

.comment-wrapper {
  padding: 8px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.comment-hovered {
  border-radius: 50%;
  background-color: rgb(225, 238, 247);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.star-button {
  display: flex;
  transition-property: color;
  transition-duration: 0.2s;
}

.star-button.starred {
  color: rgb(224, 36, 94);
}

.star-wrapper {
  padding: 8px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.star-button:hover {
  color: rgb(224, 36, 94);
  transition-property: color;
  transition-duration: 0.2s;
}

.star-hovered {
  border-radius: 50%;
  background-color: rgb(245, 226, 232);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.save-button {
  padding: 8px 10px;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.save-button:hover {
  color: rgb(23, 191, 99);
  background-color: rgb(224, 241, 232);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.save-button.saved {
  color: rgb(23, 191, 99);
}
