.pic-and-input {
  display: flex;
  justify-content: space-between;
}

.new-post-container a {
  height: 46px;
}

.post-profile-pic {
  width: 46px;
  height: 46px;
  border: 1px solid rgb(235, 238, 240);
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 50%;
  filter: brightness(100%);
  transition-property: filter;
  transition-duration: 0.15s;
  object-fit: cover;
}

.post-profile-pic:hover {
  border: none;
  filter: brightness(85%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.new-post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 14px;
  margin-bottom: 10px;
}

.new-post-container {
  position: relative;
}

.new-post-wrapper {
  position: relative;
}
