.pic-and-input {
  display: flex;
  justify-content: space-between;
}

.post-profile-pic {
  width: 46px;
  height: 46px;
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 50%;
  filter: brightness(100%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.post-profile-pic:hover {
  filter: brightness(85%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.new-post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 14px;
  margin-bottom: 10px;
}

.new-post-container {
  position: relative;
  z-index: 2;
}
