.header {
  height: 50px;
  border-bottom: 1px solid rgb(235, 238, 240);
  font-size: 18px;
  font-weight: 740;
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
