.header {
  height: 50px;
  width: 559px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(235, 238, 240);
  /* border-left: 1px solid rgb(235, 238, 240); */
  /* border-right: 1px solid rgb(235, 238, 240); */
  background-color: white;
  font-size: 18px;
  font-weight: 750;
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.left-header {
  display: flex;
  align-items: center;
}

.nav-user-info {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-around;
}

.header-number-posts {
  margin-top: -12px;
  font-size: 12px;
  font-weight: 350;
  color: rgb(91, 112, 131);
}
