.header {
  height: 50px;
  width: 561px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(235, 238, 240);
  border-left: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
  background-color: white;
  font-size: 18px;
  font-weight: 740;
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}
