.splash-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  z-index: -1;
  display: flex;
}

.splash-background-left {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: rgb(116, 202, 254);
}

.splash-background-right {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: white;
}

.splash-football {
  position: fixed;
  height: 100vh;
  left: 50vw;
  top: -1200px;
  margin-top: 40vh;
  margin-left: -1150px;
  font-size: 1700px;
  /* font-size: 170vh; */

  color: rgb(29, 161, 242);
}

.splash-info {
  position: fixed;
  margin-left: -150px;
  top: 38vh;
  left: 25vw;
  width: 380px;
  height: 270px;
  line-height: 55px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.splash-info i {
  padding-right: 15px;
}

.splash-signup-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  position: fixed;
  top: 38vh;
  left: 75vw;
  margin-left: -190px;
  margin-top: -50px;
}

.signup-icon {
  color: rgb(29, 161, 242);
  font-size: 35px;
}

.splash-signup-header {
  font-size: 30px;
  font-weight: 700;
}

.splash-signup-join {
  font-weight: 700;
}

.signup-button {
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.signup-button:hover {
  background-color: rgb(26, 145, 218);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.demo-button {
  margin-top: 16px;
  height: 40px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 25px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
  outline: none;
}

.demo-button:hover {
  background-color: rgb(232, 245, 254);
  transition-property: background-color;
  transition-duration: 0.2s;
}
