.explore-feed-container {
  margin-top: 50px;
  border-left: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
  margin-right: -1px;
}

.explore-feed {
  margin-top: 100px;
}
