.team-feed {
  margin-top: 99px;
  border-left: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
  height: 101vh;
  margin-right: -1px;
}

.team-feed.all {
  margin-top: 149px;
}
