.editor {
  box-sizing: border-box;
  cursor: text;
  margin-top: 24px;
  padding: 0px 0px 30px 0px;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  position: relative;
  width: 480px;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.post-button {
  width: 72px;
  height: 36px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.post-button:hover {
  background-color: rgb(26, 145, 218);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mention {
  color: rgb(29, 161, 242);
  text-decoration: none;
  cursor: pointer;
}

.mentionSuggestions {
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 2px;
  width: 280px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(235, 238, 240);
  box-shadow: -1px -1px 10px 1px rgb(225, 225, 225);
  transform: none !important;
  position: absolute !important;
  top: 30px !important;
}

.mentionSuggestionsEntryContainer {
  display: table;
  width: 100%;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
  display: table-cell;
  vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
  width: 100%;
  padding-left: 8px;
}

.mentionSuggestionsEntry {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(235, 238, 240);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mentionSuggestionsEntry:active {
  background-color: rgb(247, 247, 247);
}

.mentionSuggestionsEntryFocused {
  background-color: rgb(247, 247, 247);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mentionSuggestionsEntryDisplayName,
.mentionSuggestionsEntryUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mentionSuggestionsEntryDisplayName {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.mentionSuggestionsEntryUsername {
  font-size: 14px;
  color: rgb(91, 112, 131);
  font-weight: 350;
}

.mentionSuggestionsEntryProfilePic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 12px;
}
