.editor {
  box-sizing: border-box;
  cursor: text;
  margin-top: 24px;
  padding: 0px 0px 30px 0px;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  width: 480px;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.post-button {
  width: 72px;
  height: 36px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.post-button:hover {
  background-color: rgb(26, 145, 218);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mention {
  color: rgb(29, 161, 242);
  text-decoration: none;
  cursor: pointer;
}

.mentionSuggestions {
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 2px;
  width: 280px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(235, 238, 240);
  box-shadow: -1px -1px 10px 1px rgb(225, 225, 225);
  transform: none !important;
  position: absolute !important;
  z-index: 5;
}

.mentionSuggestionsEntryContainer {
  display: table;
  width: 100%;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
  display: table-cell;
  vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
  width: 100%;
  padding-left: 8px;
}

.mentionSuggestionsEntry {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(235, 238, 240);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mentionSuggestionsEntry:active {
  background-color: rgb(247, 247, 247);
}

.mentionSuggestionsEntryFocused {
  background-color: rgb(247, 247, 247);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.mentionSuggestionsEntryDisplayName,
.mentionSuggestionsEntryUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mentionSuggestionsEntryDisplayName {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.mentionSuggestionsEntryUsername {
  font-size: 14px;
  color: rgb(91, 112, 131);
  font-weight: 350;
}

.mentionSuggestionsEntryProfilePic {
  width: 35px;
  height: 35px;
  background-color: rgb(225, 228, 230);
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 12px;
}

.preview-post-image {
  width: 470px;
  height: 270px;
  margin-top: 20px;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid rgb(196, 207, 214);
}

.preview-post-gif {
  width: 470px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgb(196, 207, 214);
}

.pic-and-x-button {
  position: relative;
}

.post-x-button {
  position: absolute;
  top: 25px;
  left: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 9px 4px 9px;
  color: white;
}

.post-x-button:hover {
  background-color: rgba(34, 34, 34, 0.8);
}

.file-upload {
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.pic-icon {
  color: white;
  background-color: rgb(29, 161, 242);
  padding: 1px 3px 0px 3px;
  border-radius: 3px;
}

.pic-icon:hover {
  color: rgb(232, 245, 254);
}

.file-upload:hover {
  background-color: rgb(232, 245, 254);
  transition-property: background-color;
  transition-duration: 0.2s;
}

#img-input {
  display: none;
}

#img-input-modal {
  display: none;
}

.gif-search-button-container {
  position: relative;
  background-color: white;
  z-index: 1;
  margin-top: -1px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  padding: 8px 8px 10px 8px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.gif-search-button-container:hover {
  background-color: rgb(232, 245, 254);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.gif-search-form input {
  border: none;
  border-radius: 20px;
  background-color: rgb(235, 238, 240);
  width: 85%;
  height: 32px;
  padding-left: 18px;
  margin-left: 50px;
}

.gif-search-form input:focus {
  background-color: white;
  border: 1px solid rgb(29, 161, 242);
}

.gif-list-wrapper {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.util-buttons {
  display: flex;
  align-items: center;
}

.gif-search-button {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  outline: none;
  box-sizing: border-box;
  height: 20px;
  padding: 0px;
  margin: 0px 0px -1px 0px;
  width: 25px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600px;
  text-align: center;
  border-radius: 3px;
}

.user-profile-pic-text-wrapper.dropdown-wrapper {
  display: flex;
  font-size: 15px;
  align-items: center;
  padding: 14px 12px 10px 12px;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.pic-dropdown {
  width: 50px;
  height: 50px;
}