.player-card-link {
  text-decoration: none;
}

.player-card-pic {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  filter: brightness(100%);
  transition-property: filter;
  transition-duration: 0.15s;
  background-color: rgb(225, 228, 230);
  margin-right: 8px;
  border: 1px solid rgb(215, 218, 220);
}

.player-card-pic:hover {
  filter: brightness(85%);
  transition-property: filter;
  transition-duration: 0.15s;
}

.player-card {
  cursor: pointer;
  border-bottom: 1px solid rgb(235, 238, 240);
  transition-property: background-color;
  transition-duration: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 70px;
  padding-left: 14px;
}

.player-card:hover {
  background-color: rgb(239, 241, 242);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.player-card-info {
  display: flex;
}

.player-card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player-card-text-name {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.player-card-text-position {
  margin-top: 2px;
  color: rgb(91, 112, 131);
  font-size: 13px;
}

.player-card.QB {
  border-left: 3px solid rgb(117, 163, 116);
}

.player-card.RB {
  border-left: 3px solid rgb(88, 130, 250);
}

.player-card.WR {
  border-left: 3px solid rgb(245, 202, 73);
}

.player-card.TE {
  border-left: 3px solid rgb(222, 146, 109);
}

.player-card.K {
  border-left: 3px solid rgb(217, 81, 98);
}
