.profile-dropdown {
  position: absolute;
}

.left-nav-wrapper {
  width: 240px;
  position: absolute;
  top: 0;
  left: -550px;
}

.left-nav {
  margin-top: 8px;
  margin-right: 15px;
  height: 100vh;
  position: fixed;
}

.left-nav-container {
  cursor: pointer;
  margin-top: 20px;
  padding-left: 0px;
}

.home-logo {
  text-decoration: none;
  box-sizing: border-box;
  color: rgb(29, 161, 242);
  font-size: 20px;
  padding: 10px 12px 10px 12px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  border-radius: 50%;
  /* margin-bottom: px; */
}

.home-logo:hover {
  color: rgb(29, 161, 242);
  background-color: rgb(232, 245, 254);
  transition-property: background-color, color;
  transition-duration: 0.2s;
  border-radius: 50%;
}

.left-nav-container li {
  list-style: none;
  padding-right: 30px;
  /* margin-top: 15px; */
  margin-bottom: 15px;
  font-weight: 640;
  display: flex;
}

.left-nav-container li i {
  width: 20px;
  margin-right: 14px;
}

.left-nav-option {
  text-decoration: none;
  color: rgb(15, 20, 25);
  font-size: 18px;
  padding: 10px 15px 10px 12px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  border-radius: 20px;
}

.left-nav-option:hover {
  color: rgb(29, 161, 242);
  background-color: rgb(232, 245, 254);
  border-radius: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.left-nav-active {
  color: rgb(29, 161, 242);
}

.profile-button {
  position: absolute;
  bottom: 200px;
}
