.profile-dropdown {
  position: absolute;
}

.left-nav-container {
  cursor: pointer;
  padding-left: 0px;
  margin-right: 10px;
}

.left-nav-container li {
  list-style: none;
  padding-right: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: bold;
}

.left-nav-container i {
  margin-right: 15px;
}

.left-nav-option {
  text-decoration: none;
  color: rgb(15, 20, 25);
  padding: 10px 15px 10px 10px;
}

.left-nav-option:hover {
  color: rgb(29, 161, 242);
  background-color: rgb(232, 245, 254);
  border-radius: 20px;
}

.left-nav-active {
  color: rgb(29, 161, 242);
}
