.login-form {
  position: fixed;
  margin-top: 15px;
  left: 75vw;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 800px;
  padding: 10px;
  margin-left: -350px;
}

.cred-wrapper {
  position: absolute;
  cursor: text;
  padding: 7px;
  display: flex;
  width: 210px;
  height: 58px;
  flex-direction: column;
  background-color: white;
  outline: none;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 4px;
}

.cred-wrapper.focused {
  border: 2px solid rgb(29, 161, 242);
  margin: -1px;
}

.cred-input {
  margin-top: 2px;
  width: 200px;
  resize: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  margin-left: -1px;
}

.cred-header {
  color: rgb(96, 116, 135);
  font-size: 13px;
  pointer-events: none;
}

.cred-header.focused {
  color: rgb(29, 161, 242);
}

.password-input-wrapper {
  position: absolute;
  cursor: text;
  display: flex;
  width: 210px;
  height: 58px;
  flex-direction: column;
  padding: 7px;
  background-color: white;
  outline: none;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 4px;
}

.password-input-wrapper.focused {
  border: 2px solid rgb(29, 161, 242);
  margin: -1px;
}

.password-input {
  margin-top: 2px;
  width: 200px;
  resize: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  margin-left: -1px;
}

.password-header {
  font-size: 13px;
  color: rgb(96, 116, 135);
  pointer-events: none;
}

.password-header.focused {
  color: rgb(29, 161, 242);
}

.login-button {
  height: 36px;
  width: 95px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 25px;
  color: rgb(29, 161, 242);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
  outline: none;
  margin-top: 10px;
}

.login-button:hover {
  background-color: rgb(232, 245, 254);
  transition-property: background-color;
  transition-duration: 0.2s;
}
