.saved-posts-container {
  position: relative;
  z-index: 0;
  margin-top: 50px;
  /* border-left: 1px solid rgb(235, 238, 240); */
  /* border-right: 1px solid rgb(235, 238, 240); */
  height: 101vh;
}
